<li class="mainMenu__item"><a class="mainMenu__link mainMenu__link--phone" href="#">8 928 517-15-15</a>
    <div class="subMenu menuContacts">
        <div class="menuContacts__wrap">
            <section class="menuContacts__section menuContacts__section--time"><b>Колл-центр всегда на связи</b>
                <p>
                            <svg width="16" height="16" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use>
                            </svg>с 8:00 до 20:00
                </p>
            </section>
            <section class="menuContacts__section menuContacts__section--phone"><b>Телефоны для справок</b>
                <p>
                            <svg width="16" height="16" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"></use>
                            </svg>56-15-15
                </p>
                <p>
                            <svg width="16" height="16" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"></use>
                            </svg>8 928 517-15-15
                </p>
            </section>
            <section class="menuContacts__section menuContacts__section--email"><b>Электронная почта</b>
                <p>
                            <svg width="16" height="16" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email"></use>
                            </svg>info@celitel05.ru
                </p><span>По вопросам трудоустройства</span>
                <p>
                            <svg width="16" height="16" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email"></use>
                            </svg><a href="#">rabota@celitel05.ru</a>
                </p>
            </section>
        </div>
    </div>
</li>
