<li class="mainMenu__item"><a class="mainMenu__link" href="#">Врачи</a>
    <div class="subMenu menuDoctors">
        <section class="menuDoctors__section menuDoctors__section--menu">
            <ul class="subMenu__menu">
                <li class="orderOneForMobile"><a class="subMenu__active" href="{% url 'doctor_list_url' %}">Все врачи</a></li>
                {% for doctor_tag in doctors_tags %}
                    <li><a href="{% url 'doctor_tags_detail_url' slug=doctor_tag.slug %}">{{ doctor_tag.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section class="menuDoctors__section menuDoctors__section--doctor">
            {% if best_doctor %}
                <div class="menuDoctors__photo"><img width="80" src="{{ best_doctor.avatar.url }}" alt=""></div>
                <div class="menuDoctors__wrap">
                    <h3 class="menuDoctors__name"><a href="{% url 'doctor_detail_url' pk=best_doctor.pk %}">{{ best_doctor.full_name }}</a></h3>
                    <div class="menuDoctors__desk">
                        {% for spec in best_doctor.specialization.all %}
                            {% if not forloop.last %}
                                {{ spec.name }},
                            {% else %}
                                {{ spec.name }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="menuDoctors__note">Врач-дня</div>
                </div>
            {% endif %}
        </section>
    </div>
</li>
