{% load static %}

<li class="mainMenu__item"><a class="mainMenu__link" href="#">События</a>
    <div class="subMenu menuEvents">
        <section class="menuEvents__section menuEvents__section--menu">
            <ul class="subMenu__menu">
                <li><a class="subMenu__active" href="{% url 'promotion_list_now_url' %}">Акции</a></li>
                <li><a href="{% url 'news_list_url' %}">Новости</a></li>
                <li><a href="{% url 'rusdoc_list_now_url' %}">Врачи из России</a></li>
            </ul>
        </section>
        <section class="menuEvents__section menuEvents__section--news">
            {% for rusdoc in rus_doc %}
                    <section>
                        {% if rusdoc.image %}
                            <img src="{{ rusdoc.image.url }}" alt="" width="1024" height="540">
                        {% else %}
                            <img src="{% static 'images/promotion.jpg' %}" alt="" width="1024" height="540">
                        {% endif %}
                        <h3><a href="{% url 'rusdoc_detail_url' pk=rusdoc.pk %}">{{ rusdoc.title }}</a></h3>
                    </section>
            {% endfor %}
        </section>
    </div>
</li>
