<li class="mainMenu__item"><a class="mainMenu__link" href="#">Услуги</a>
    <div class="subMenu menuServices">
        <ul class="mainMenu__tabs mainMenu__tabs--services">
            <li class="mainMenu__activeTab"><a href="#" data-tab="menuAdult">Взрослым</a></li>
            <!-- <li><a href="#" data-tab="menuProgramm">Программы</a></li> -->
            <li><a href="#" data-tab="menuHospital">Стационар</a></li>
        </ul>
        <div class="menuServices__wrap">
            <div class="menuServices__section menuServices__section--services menuServices__section--adult menuServices__section--active" data-tab="menuAdult">
                <ul>
                    {% for service_group in service_groups %}
                        <li>
                            {% if service_group.get_active in request.get_full_path %}
                                <a class="subMenu__active" href="{% url 'service_detail_url' pk=service_group.pk %}">
                                    {{ service_group.name }}
                                </a>
                            {% else %}
                                <a href="{% url 'service_detail_url' pk=service_group.pk %}">
                                    {{ service_group.name }}
                                </a>
                            {% endif %}
                        </li>

                    {% endfor %}
                </ul>
            </div>
           <!--  <div class="menuServices__section menuServices__section--programm" data-tab="menuProgramm">
               <ul>
                   {% for service_group in service_groups %}
                       <li>
                           {% if service_group.get_active in request.get_full_path %}
                               <a class="subMenu__active" href="{% url 'service_detail_url' pk=service_group.pk %}">
                                   {{ service_group.name }}
                               </a>
                           {% else %}
                               <a href="{% url 'service_detail_url' pk=service_group.pk %}">
                                   {{ service_group.name }}
                               </a>
                           {% endif %}
                       </li>
           
                   {% endfor %}
               </ul>
           </div> -->
            <div class="menuServices__section menuServices__section--hospital" data-tab="menuHospital">
            	<div class="menuServices__images">
            	    {% if hospital.image_one %}
                	    <img src="{{ hospital.image_one.url }}" alt="" width="580" height="300">
                    {% endif %}
                    {% if hospital.image_two %}
                	    <img src="{{ hospital.image_two.url }}" alt="" width="580" height="300">
                    {% endif %}
                    {% if hospital.image_three %}
                	    <img src="{{ hospital.image_three.url }}" alt="" width="580" height="300">
                    {% endif %}
        	    </div>
        	    {% autoescape off %}
            	    {{ hospital.description }}
                {% endautoescape %}
                {% if hospital %}
                    <p><a href="{% url 'hospital_url' %}">Подробнее</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</li>
