<input type="hidden" id="doctorFetchID" name="doctorFetchID" value={{ doctor.id }} />

<script>
  
  document.addEventListener("DOMContentLoaded", () => {
    var doctorID = document.querySelector('#doctorFetchID').value
    fetch("/doctors/api/v0/all/" + doctorID)
      .then((response) => response.json())
      .then((data) => {
        window.rawData = data.dates
        // console.log("data: ", rawData)
      })
      .then(() => {
        if(!window.rawData.length){
          throw new Error()
        }
        // Создаём список клиник.
        var organizations = window.rawData.map((item) => {
          return item.organization.address
        })
        // Берём первую клинику, как временное решение.
        window.organizations = Array.from(new Set(organizations))[0]
      })
      .then(() => {
        // Создаём массив с датами и часами для первой клиники.
        var times = window.rawData.map((item) => {
          if(item.organization.address == window.organizations){
            var tempDate = item.date.split("-").reverse()
            tempDate.pop()
            switch(tempDate[1]){
              case "01":
                tempDate[1] = "Янв"
                break
              case "02":
                tempDate[1] = "Фев"
                break
              case "03":
                tempDate[1] = "Мар"
                break
              case "04":
                tempDate[1] = "Апр"
                break
              case "05":
                tempDate[1] = "Мая"
                break
              case "06":
                tempDate[1] = "Июн"
                break
              case "07":
                tempDate[1] = "Июл"
                break
              case "08":
                tempDate[1] = "Авг"
                break
              case "09":
                tempDate[1] = "Сен"
                break
              case "10":
                tempDate[1] = "Окт"
                break
              case "11":
                tempDate[1] = "Ноя"
                break
              case "12":
                tempDate[1] = "Дек"
                break
            }
            tempDate = tempDate.join(" ")

            return {
              "date": tempDate,
              "hours": item.timing
            }
          }
        })
        window.times = times
      })
      .then(() => {
        // Выводим на страницу адрес.
        var addressesWrapper = document.querySelector('.makeAnAppointment__addresses')
        var addressInput = document.createElement('input')
        addressInput.className = "makeAnAppointment__input visually-hidden"
        addressInput.setAttribute("data-address", window.organizations)
        addressInput.setAttribute("value", window.organizations)
        addressInput.setAttribute("type", "radio")
        addressInput.setAttribute("id", "address0")
        addressInput.setAttribute("name", "appointmentAddresses")
        addressInput.setAttribute("checked", "checked")

        var addressLabel = document.createElement('label')
        addressLabel.className = "makeAnAppointment__address"
        addressLabel.setAttribute("for", "address0")
        addressLabel.innerHTML = window.organizations

        addressesWrapper.append(addressInput)
        addressesWrapper.append(addressLabel)

      })
      .then(() => {
        // Выводим даты.
        var datesWrapper = document.querySelector('.makeAnAppointment__dates')
        var timesWrapper = document.querySelector('.makeAnAppointment__times')
       
        for(var i=0; i<window.times.length; i++){
          var dateInput = document.createElement('input')
          dateInput.className = "visually-hidden makeAnAppointment__dateInput"
          dateInput.setAttribute("data-appointmentdate", window.times[i].date)
          dateInput.setAttribute("value", window.times[i].date)
          dateInput.setAttribute("type", "radio")
          dateInput.setAttribute("id", "appointmentDates" + i)
          dateInput.setAttribute("name", "appointmentDates0")
          if(i==0){
            dateInput.setAttribute("checked", "appointmentAddresses")
          }

          var dateLabel = document.createElement('label')
          dateLabel.className = "makeAnAppointment__date"
          dateLabel.setAttribute("for", "appointmentDates" + i)
          dateLabel.innerHTML = window.times[i].date

          datesWrapper.append(dateInput)
          datesWrapper.append(dateLabel)

          // Создаём обёртку для часов.
          var dayWrapper = document.createElement('div')
          if(i == 0){
            dayWrapper.className = "makeAnAppointment__day makeAnAppointment__day--active"
          } else {
            dayWrapper.className = "makeAnAppointment__day"
          }
          dayWrapper.setAttribute("data-appointmentday", window.times[i].date)

          // Выводим часы.
          for(var j=0; j<window.times[i].hours.length; j++){

            var randomNumber = Math.random() * Math.random()
            var timeInput = document.createElement('input')

            timeInput.className = "visually-hidden makeAnAppointment__hoursInput"
            timeInput.setAttribute("type", "radio")
            timeInput.setAttribute("id", "appointmentTime" + randomNumber)
            timeInput.setAttribute("name", "appointmentTime")

            timeInput.setAttribute("value", window.times[i].date + ", " + window.times[i].hours[j].hour)

            var timeLabel = document.createElement('label')
            if(window.times[i].hours[j].free){
              timeLabel.className = "makeAnAppointment__time"
            } else {
              timeLabel.className = "makeAnAppointment__time makeAnAppointment__time--unavailable"
            }
            timeLabel.setAttribute("for", "appointmentTime" + randomNumber)
            timeLabel.setAttribute("aria-label", window.times[i].date + ", " + window.times[i].hours[j].hour)
            timeLabel.innerHTML = window.times[i].hours[j].hour

            dayWrapper.append(timeInput)
            dayWrapper.append(timeLabel)
          }
          
          timesWrapper.append(dayWrapper)
        }
      })
      .catch((err) => {
        console.log("Ошибка: ", err)
      })
  })



</script>


<!-- Форма отправляется по адресу в data-action и ожидает ответа "1", если всё нормально. В action указывается адрес, куда надо перекидывать для оплаты. В data-name прописывается имя врача. В data-desk - описание. В data-photo - адрес его фотографии.-->
<form class="doctorPage__order makeAnAppointment" action="#" data-action="#" data-name="Зарема Алиевна Алиева" data-desk="детский врач-невролог. Опыт работы — 5 лет" data-photo="assets/doctorCardPhoto.png">
  <input type="hidden" id="doctorCode" name="doctorCode" value={{ doctor.code }} />
  <input type="hidden" id="doctorID" name="doctorID" value={{ doctor.id }} />

  <div class="makeAnAppointment__addresses"></div>

  <div class="makeAnAppointment__wrapper makeAnAppointment__wrapper--active" data-address="Гоголя, 24">
    <div class="makeAnAppointment__dates"></div>

    <div class="makeAnAppointment__times"></div>
  </div>
</form>
