{% extends 'index.html' %}
{% load pytils_dt %}

{% block title %}
    {{ new.title }}
{% endblock %}

{% block content %}
    <main>
      <article class="material">
        <div class="container">
          <div class="material__body">
            <h1 class="h1">{{ new.title }}</h1>
            <div class="material__intro">
                {% autoescape off %}<p>{{ new.preview }}</p>{% endautoescape %}
            </div>
            {% if new.image %}
              <figure class="material__img">
                <img src="{{ new.image.url }}" alt="">
                {% if new.caption %}<figcaption>{{ new.caption }}</figcaption>{% endif %}
              </figure>
            {% endif %}

            {% autoescape off %}<p>{{ new.content }}</p>{% endautoescape %}
          </div>
          {% if new.doctors %}
              {% with doctors=new.doctors.all %}
                {% for doctor in doctors %}
                <!-- Переделать на карту докороа -->
                  <h4>{{ doctor.full_name }}</h4>
                {% endfor %}
              {% endwith %}
          {% endif %}
          
          {% include 'includes/social_links/social_links.html' %}
        </div>
      </article>
          <section class="nextPage">
            <div class="container">
              <p>Далее</p>
              <a href="{{ next_page.get_absolute_url }}">
                <span>{{ next_page.title }}</span>
                <svg width="40" height="30" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrowRight"></use>
                </svg>
              </a>
            </div>
          </section>
    </main>
{% endblock %}
