<!DOCTYPE html>

{% load static %}
{% load pytils_dt %}

<html lang="ru">
		<head>
			<title>{% block title %}Главная{% endblock %}</title>

			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=Edge">
			<meta name="viewport" content="width=device-width,initial-scale=1">
			{% include 'includes/meta.html' %}
			<link href="{% static 'css/styles.css' %}" rel="stylesheet">
			<!-- FAVICON FOR EVERYBODY, FREE, AND LET NO ONE BE LEFT BEHIND!-->
			<link href="/favicon.ico" rel="shortcut icon" type="{% static 'images/vnd.microsoft.icon' %}">
			<link rel="author" href="/humans.txt">
		</head>
	<body class="frontpage">
        <div style="padding: 15px 0;background: #ffd933;text-align: center;font-size: 14px;"><div class="container">Уважаемые посетители сайта! Это новая версия сайта, на которой могут быть незначительные ошибки. Мы уже работаем над их исправлением.<br>Старый сайт доступен по <a href="https://old.celitel05.ru">этой ссылке</a></div></div>
		
		{% include 'includes/svg/sprite.html' %}

		<header class="header">
			<div class="container header__container">
				<a class="logo" href="{% url 'index_url' %}">
					<img src="{% static 'images/logo.png' %}" alt="Logo">
				</a>
				<a class="orderLink" href="/doctors/order/" aria-label="Записаться к врачу">
							<svg width="30" height="30" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#doctor"></use>
							</svg>
							<span class="onlyDesktop">Записаться к врачу</span>
				</a>
				<nav class="mainMenu">
					<ul>
						{% include 'includes/header/hospital.html' %}
						{% include 'includes/header/doctors.html' %}
						{% include 'includes/header/services.html' %}
						{% include 'includes/header/events.html' %}
						{% include 'includes/header/articles.html' %}
						{% include 'includes/header/company.html' %}
						{% include 'includes/header/contacts.html' %}
					</ul>
				</nav>
			</div>
		</header>

		{% block content %}

				<main>
					{% include 'includes/blocks/slider.html' %}
					{% include 'includes/blocks/organization.html' %}
					{% include 'includes/blocks/feedback.html' %}
					{% include 'includes/blocks/video.html' %}
					{% include 'includes/blocks/consultations.html' %}
					{% include 'includes/blocks/partners.html' %}
				</main>

		{% endblock %}

		{% include 'includes/blocks/footer.html' %}

		<script src="{% static 'js/main.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
		<script src="{% static 'js/plugins.js' %}"></script>
	</body>
</html>
