<section class="share">
  <h3 class="share__heading">Поделиться</h3>
  <div class="share__list">
    <!-- Вместо гугла надо вставить ссылку на текущую страницу.--><a class="share__item share__item--fb" href="https://www.facebook.com/sharer.php?src=sp&amp;u={{ request.build_absolute_uri }}" target="_blank" aria-label="Поделиться в фейсбук">
          <svg width="50" height="50" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
          </svg><span>Поделиться</span></a><a class="share__item share__item--vk" href="https://vk.com/share.php?url={{ request.build_absolute_uri }}" target="_blank" aria-label="Поделиться в вконтакте">
          <svg width="50" height="50" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
          </svg><span>Поделиться</span></a><a class="share__item share__item--ok" href="https://connect.ok.ru/offer?url={{ request.build_absolute_uri }}" target="_blank" aria-label="Поделиться в одноклассниках">
          <svg width="50" height="50" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ok"></use>
          </svg><span>Класс</span></a><a class="share__item share__item--tg" href="tg://msg_url?url={{ request.build_absolute_uri }}" target="_blank" aria-label="Отправить в телеграм">
          <svg width="50" height="50" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tg"></use>
          </svg><span>Отправить</span></a>
  </div>
</section>
