<section class="servicesList">
	<h2 class="mdTitle">Услуги поликлиники</h2>
	<ul class="servicesList__categories">
		<li class="servicesList__category servicesList__category--active"><a href="#">Аллергология</a></li>
		<li class="servicesList__category"><a href="#">Гинекология</a></li>
	</ul>
	<div class="servicesList__body">
		<table class="servicesList__item">
			<thead>
				<tr>
					<th colspan="2">Контурная пластика лица</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Лифтинг с/з (Silhouette Lift), в/в (1 нитка)</td>
					<td>1 000 ₽</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
