{% extends 'index.html' %}

{% load pytils_dt %}
{% load doctor_tags %}

{% block title %}
    {{ doctor.full_name }}
{% endblock %}


{% block content %}

<main>
    <article class="doctorPage">
        <section class="doctorPage__main">
            <div class="doctorPage__photo">
                {% if doctor.photo %}
                    <img src="{{ doctor.photo.url }}" alt="">
                {% endif %}

                <!-- Share links -->
                {% include './includes/share_list.html' %}

            </div>


            <div class="container doctorPage__container">
                <div class="doctorPage__wrap">
                    <div class="doctorCard doctorCard--noPhoto doctorPage__info">
                        <h1 class="doctorCard__name doctorCard__name--heading">{{ doctor.full_name }}</h1>
                        <div class="doctorCard__desc">
                            {% if doctor.specialization %}
                            {% for spec in doctor.specialization.all %}
                                <span class="doctorCard__desc--specialization">{{ spec }}.</span>
                            {% endfor %}
                            {% endif %}

                            <span class="doctorCard__desc--academic_degree">{% if doctor.academic_degree %}{{ doctor.academic_degree }}.</span>{% endif %}
                            {% if doctor.experience %}<span classs="doctorCard__desc--experience">Опыт работы — {{ doctor.experience }}.</span>{% endif %}
                        </div>

                        <!-- for addres in addresses -->
                        <div class="doctorCard__info">
                            {% include './includes/mark.html' %}
                            <div class="doctorCard__infoWrap">Поликлиника на&nbsp;<a href="#">ул. Гоголя, 24, Махачкала</a></div>
                        </div>

                        <!-- All promotions with this doctor -->
                        {% if promotions %}
                        {% for promotion in promotions %}
                        <div class="doctorCard__info doctorCard__info--mark">
                            {% include './includes/procent.html' %}
                            <div class="doctorCard__infoWrap">{{ promotion.title }}</div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Doctor cart -->
                    {% include './includes/doctor_cart.html' %}

                    {% if doctor.content %}
                    <div class="doctorPage__text">
                        {% autoescape off %}
                        {{ doctor.content }}
                        {% endautoescape %}
                    </div>
                    {% endif %}
                </div>
            </div>

        </section>

        {% if videos %}
            <section class="video">
                <div class="container">
                    <h2 class="mdTitle mdTitle--white">Видео врача</h2>
                    <div class="mdIntro">Смотрите полезное видео.
                    {% if doctor.specialization %}
                        Рассказывает врач 
                        {% for spec in doctor.specialization.all %}
                            {{ spec }}.
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="video__body">
                        {% for video in videos %}
                            <div class="video__item">
                                {% autoescape off %}
                                    {{ video.video }}
                                {% endautoescape %}
                            </div>
                        {% endfor %}
                </div>
            </section>
        {% endif %}
    </article>
</main>

{% endblock %}
