{% extends 'index.html' %}

{% load pytils_dt %}
{% load doctor_tags %}

{% block title %}
    {{ doctor.full_name }}
{% endblock %}


{% block content %}

<main>
    <article class="doctorPage">
        <section class="doctorPage__main">
            <div class="doctorPage__photo">
                {% if doctor.photo %}
                    <img src="{{ doctor.photo.url }}" alt="{{ doctor.full_name }}">
                {% endif %}

                <!-- Share links -->
                {% include 'doctor/includes/elements/share_list.html' %}

            </div>


            <div class="container doctorPage__container">
                <div class="doctorPage__wrap">
                    <div class="doctorCard doctorCard--noPhoto doctorPage__info">
                        <h1 class="doctorCard__name doctorCard__name--heading">{{ doctor.full_name }}</h1>
                        <div class="doctorCard__desc">
                            {% if doctor.specialization %}
                                {% for spec in doctor.specialization.all %}
                                    {% if not forloop.last %}
                                        <span class="doctorCard__desc--specialization">{{ spec }},</span>
                                    {% else %}
                                        <span class="doctorCard__desc--specialization">{{ spec }}.</span>
                                    {% endif %}

                                {% endfor %}
                            {% endif %}

                            {% if doctor.academic_degree %}
                                <span class="doctorCard__desc--academic_degree">
                                    {{ doctor.academic_degree }}.
                                </span>
                            {% endif %}

                            {% if doctor.experience %}
                                <span classs="doctorCard__desc--experience">
                                    Опыт работы — {{ doctor.experience }}.
                                </span>
                            {% endif %}
                        </div>

                    <!--{% if min_price %}
                            <div class="doctorCard__info">
                                <svg width="15" height="15" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ruble"></use>
                                </svg>
                                <div class="doctorCard__infoWrap">Приём от {{ min_price }} руб.</div>
                            </div>
                        {% endif %}-->


                        <!-- for addres in addresses -->
                        {% for depart in doctor.department.all %}
                            {% with organ=depart.organization %}
                                <div class="doctorCard__info">
                                    {% include 'doctor/includes/elements/mark.html' %}
                                    <div class="doctorCard__infoWrap">Поликлиника на&nbsp;
                                        <a href="{% url 'organ_detail_url' pk=organ.pk %}">{{ organ.address }}</a>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}


                        <!-- All promotions with this doctor -->
                        {% if promotions %}
                            {% for promotion in promotions %}
                            <div class="doctorCard__info doctorCard__info--mark">
                                {% include 'doctor/includes/elements/procent.html' %}
                                <div class="doctorCard__infoWrap">{{ promotion.title }}</div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Doctor cart -->
                    {% include 'doctor/includes/doctor_page/doctor_cart.html' %}



                    {% if doctor.content %}
                        <div class="doctorPage__text">
                            {% autoescape off %}
                                {{ doctor.content }}
                            {% endautoescape %}
                        </div>
                    {% endif %}
                </div>
            </div>

        </section>

        {% include 'doctor/includes/doctor_page/statistics.html' %}
        {% include 'doctor/includes/doctor_page/video.html' %}
        {% include 'doctor/includes/doctor_page/consultations.html' %}
        {% include 'doctor/includes/doctor_page/review.html' %}
        {% include 'doctor/includes/doctor_page/article.html' %}
        {% include 'doctor/includes/doctor_page/other_doctors.html' %}


    </article>
</main>

{% endblock %}
