{% extends 'index.html' %}

{% load static %}
{% load doctor_tags %}


{% block title %}
Онлайн запись к врачу в сети поликлиник «Целитель»
{% endblock %}

{% block content %}

<main>
    <article class="doctors">
        <div class="container">
            <h1 class="h1">Запись к врачу</h1>
            <form class="orderFilters" action="https://celitel05.ru/testorder_api_json.php" method="get">
                <div class="orderFilters__item orderFilters__item--name">
                    <div class="orderFilters__wrap">
                        <button class="orderFilters__showFields" type="button" tabindex="-1">
                                    <svg width="22" height="22" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#filter"></use>
                                    </svg>
                        </button>
                        <input autocomplete="off" class="orderFilters__input orderFilters__input--name" type="text" name="orderFiltersName" placeholder="Фамилия Имя Отчество" id="orderFiltersName">
                        <div class="smallHidden orderFilters__dropDown">
                            <input class="visually-hidden orderFilters__input orderFilters__input--checkbox" type="checkbox" name="orderFiltersChild" id="orderFiltersChild0">
                            <label class="orderFilters__checkbox orderFilters__checkbox--desktop" for="orderFiltersChild0">Только детские врачи</label>
                        </div>
                    </div>
                </div>
                <div class="orderFilters__item orderFilters__item--specialization">
                    <div class="orderFilters__wrap">
                        <button class="orderFilters__checker" type="button" tabindex="-1">
                                    <svg width="16" height="10" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#down"></use>
                                    </svg>
                        </button>
                        <input autocomplete="off" class="orderFilters__input orderFilters__input--popup" type="text" placeholder="Специальность" name="orderFiltersSpecialization" id="orderFiltersSpecialization">
                        <button class="orderFilters__close" type="button" tabindex="-1">
                                    <svg width="15" height="15" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                                    </svg>
                        </button>
                        <div class="orderFilters__dropDown">
                            {% for specialization in specializations %}
                                <label>
                                    <input class="visually-hidden" type="radio" name="orderFiltersSpecialization" value="{{ specialization.name|title }}"><span>{{ specialization.name|title }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="orderFilters__item orderFilters__item--address">
                    <div class="orderFilters__wrap">
                        <button class="orderFilters__checker" type="button" tabindex="-1">
                                    <svg width="16" height="10" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#down"></use>
                                    </svg>
                        </button>
                        <input autocomplete="off" class="orderFilters__input orderFilters__input--popup" type="text" placeholder="Филиал" name="orderFiltersAddress" id="orderFiltersAddress">
                        <button class="orderFilters__close" type="button" tabindex="-1">
                                    <svg width="15" height="15" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                                    </svg>
                        </button>
                        <div class="orderFilters__dropDown orderFilters__dropDown--addresses">
                            {% for city, organization in organizations.items %}
                                <b>{{ city }}</b>
                                {% for organ in organization %}
                                    <label><i>{{ organ.1 }}</i>
                                        <input class="visually-hidden" type="radio" name="orderFiltersAddress" value="{{ organ.2 }}"><span>{{ organ.2 }}</span>
                                    </label>
                                {% endfor %}

                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="mediumHidden orderFilters__item">
                    <div class="orderFilters__wrap">
                        <input class="visually-hidden orderFilters__input orderFilters__input--checkbox" type="checkbox" name="orderFiltersChild" id="orderFiltersChild1">
                        <label class="orderFilters__checkbox" for="orderFiltersChild1">Только детские врачи</label>
                    </div>
                </div>
                {% csrf_token %}
            </form>
            

<section class="orderModal orderModal--step1">
<form class="makeAnAppointment" style="width: initial !important" data-action="https://studiovector.art/celitel.php" method="POST">
	{% csrf_token %}
	<input type="hidden" id="doctorAgreement" name="doctorAgreement" value="" />
	<input type="hidden" id="doctorCode" name="doctorCode" value="" />
	<input type="hidden" id="doctorID" name="doctorID" value="" />
	<input type="hidden" id="appointmentTime" name="appointmentTime" value="" />

	<header class="orderModal__header">
		<h3 class="orderModal__title">Запись к врачу и оплата</h3>
		<button class="orderModal__close" type="button" aria-label="Закрыть">
			<svg width="15" height="15" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
			</svg>
		</button>
	</header>
	<div class="orderModal__body">
		<div class="orderModal__wrapper">
			<div class="orderModal__photo">

				<img src="/media/doctors/gitinova-zainab-2681/gitinova-zainab-2681_ZHriIvq.jpg" alt="" width="80" height="80">

			</div>
			<div class="orderModal__wrap">
				<div class="orderModal__name">Гитинова Зайнаб Айгумовна</div>
				<div class="orderModal__desc">

					аллерголог иммунолог

				</div>
			</div>
		</div>
		<div class="orderModal__body">
			<div class="orderModal__input orderModal__input--withBorder">
				<label class="orderModal__label" for="orderModalAddress">Поликлиника</label>
				<input type="text" readOnly disabled tabindex="-1" name="orderModalAddress" id="orderModalAddress">
			</div>
			<div class="orderModal__input orderModal__input--withBorder">
				<label class="orderModal__label" for="orderModalTime">Дата и время приёма</label>
				<input type="text" readOnly disabled tabindex="-1" name="orderModalTime" id="orderModalTime">
			</div>
			<div class="orderModal__input">
				<label class="orderModal__label" for="orderModalName">ФИО</label>
				<input type="text" name="orderModalName" id="orderModalName" placeholder="Магомедов Магомед Магомедович" required>
			</div>
			<div class="orderModal__input">
				<label class="orderModal__label" for="orderModalPhone">Телефон</label>
				<input type="text" name="orderModalPhone" id="orderModalPhone" placeholder="+7 000 111-22-33" required>
			</div>
			<div class="orderModal__input">
				<label class="orderModal__label" for="orderModalBirthday">Дата рождения</label>
				<input type="date" name="orderModalBirthday" id="orderModalBirthday" required>
			</div>
			<div class="orderModal__input">
				<label class="orderModal__label" for="orderModalService">Выберите услугу</label>
				<select name="orderModalService" id="orderModalService" required>

				</select>
			</div>
			<div class="orderModal__input">
				<span class="orderModal__label">Пол</span>
				<input type="radio" name="orderModalGender" id="orderModalGenderM" value="М" required style="width: auto; margin: 1px 5px 0 0">
				<label for="orderModalGenderM">М</label>
				<input type="radio" name="orderModalGender" id="orderModalGenderF" value="Ж" required style="width: auto; margin: 1px 5px 0 10px">
				<label for="orderModalGenderF">Ж</label>
			</div>
			<button class="orderModal__btn" type="button" id="orderModalNoPay">Записаться</button>
			<p class="orderModal__note">Я согласен с условиями обработки&nbsp;<a href="#" target="_blank">персональных данных</a></p>
		</div>
	</div>
</form>
</section>
<section class="orderModal orderModal--success">
	<header class="orderModal__header">
		<h3 class="orderModal__title">Запись к врачу и оплата</h3>
		<button class="orderModal__close" type="button" aria-label="Закрыть">
			<svg width="15" height="15" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
			</svg>
		</button>
	</header>
	<div class="orderModal__body">
		<div class="orderModal__wrapper">
			<svg width="100" height="76" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#correct-signal"></use>
			</svg>
			<h2 class="orderModal__successHeading">Спасибо за запись!</h2>
			<p class="orderModal__successText">Скоро мы свяжемся по телефону для уточнения записи</p>
		</div>
	</div>
</section>


            
<script>
function sendDoctorListForm(form) {
	var XHR = new XMLHttpRequest();
	var FD = new FormData(form);
	var firstRun = true;
	for (var key of FD.keys()) {
		if (firstRun) {
			form.action = '/testorder_api_json.php?';
			firstRun = false;
		} else {
			form.action += '&';
		}
		form.action += key + "=" + FD.get(key);
	}

	XHR.addEventListener("load", function(event) {
		var responseServer = JSON.parse(this.responseText);
		try {
			var doctorsList = document.querySelector('.doctorrTable')
			if (responseServer == 0) {
				doctorsList.innerHTML = '<h3 style="margin: 2em auto;">Ничего не найдено</h3>'
			} else {
				doctorsList.innerHTML = ''
				for (var i = 0; i < responseServer.length; i++) {
						var temp = document.createElement('section');
						temp.className = 'order__item doctorCardWrapper doctorCardWrapper--grey'
						temp.innerHTML = `<section class="doctorCard">
                        <input type="hidden" id="doctorAgreement" name="doctorAgreement" value="" />
                        <input type="hidden" id="doctorCode" name="doctorCode" value="" />
                        <input type="hidden" id="doctorID" name="doctorID" value="" />
                        <select hidden id="orderModalService" name="orderModalService"></select>
                    
                        <div class="doctorCard__photo"><img src="${responseServer[i].avatar ? responseServer[i].avatar : '/static/images/doctor_without_photo.png'}" alt="${responseServer[i].full_name}" width="270" height="270"></div>
                        <div class="doctorCard__name">${responseServer[i].full_name}</div>
                        <div class="doctorCard__desc">${responseServer[i].academic_degree}</div>
                        </section>
                        
                        <div class="kostil">
                            <style>
                                @media (min-width: 1024px){
                                    .kostil{
                                        width: 50%;
                                    }
                                }
                            </style>
                            <div class="makeAnAppointment__addresses"></div>
                        
                            <div class="makeAnAppointment__wrapper makeAnAppointment__wrapper--active">
                                <div class="makeAnAppointment__dates"></div>
                        
                                <div class="makeAnAppointment__times"></div>
                            </div>
                        </div>`
						temp.querySelector('#doctorCode').setAttribute('value', `${responseServer[i].code}&${responseServer[i].full_name}`)
						temp.querySelector('#doctorID').setAttribute('value', responseServer[i].id)
						
						// // Заполняем селект услугами.
						var serviceSelect = document.querySelector("#orderModalService");
						serviceSelect.innerHTML = ""
						for (var ii = 0; ii < responseServer[i].services.length; ii++) {
							var serviceOption = document.createElement('option')
							serviceOption.setAttribute("value", responseServer[i].services[ii].code)
							serviceOption.innerHTML = responseServer[i].services[ii].name
							serviceSelect.append(serviceOption)
						}
						// // Заполнили услуги.

						responseServer[i].department.map((dep, depIndex) => {
							if (dep.dates.length) {
								// Выводим адреса.
								var addressInputID = Math.random()
								var addressesWrapper = temp.querySelector('.makeAnAppointment__addresses')
								var addressInput = document.createElement('input')
								addressInput.className = "makeAnAppointment__input visually-hidden"
								addressInput.setAttribute("data-address", dep.address)
								addressInput.setAttribute("value", dep.address)
								addressInput.setAttribute("type", "radio")
								addressInput.setAttribute("id", "address-" + addressInputID)
								addressInput.setAttribute("name", "appointmentAddresses-" + i)
								if (depIndex == 0) {
									addressInput.setAttribute("checked", "checked")
								}
								var addressLabel = document.createElement('label')
								addressLabel.className = "makeAnAppointment__address"
								addressLabel.setAttribute("for", "address-" + addressInputID)
								addressLabel.innerHTML = dep.address
								addressesWrapper.append(addressInput)
								addressesWrapper.append(addressLabel)
								// Вывели адреса.
								// Выводим даты.
								var datesWrapper = temp.querySelector('.makeAnAppointment__dates')
								var timesWrapper = temp.querySelector('.makeAnAppointment__times')
								dep.dates.map((date, index) => {
									var normalDate = date.date.split("-").reverse()
									normalDate.pop()
									switch (normalDate[1]) {
										case "01":
											normalDate[1] = "Янв"
											break
										case "02":
											normalDate[1] = "Фев"
											break
										case "03":
											normalDate[1] = "Мар"
											break
										case "04":
											normalDate[1] = "Апр"
											break
										case "05":
											normalDate[1] = "Мая"
											break
										case "06":
											normalDate[1] = "Июн"
											break
										case "07":
											normalDate[1] = "Июл"
											break
										case "08":
											normalDate[1] = "Авг"
											break
										case "09":
											normalDate[1] = "Сен"
											break
										case "10":
											normalDate[1] = "Окт"
											break
										case "11":
											normalDate[1] = "Ноя"
											break
										case "12":
											normalDate[1] = "Дек"
											break
									}
									normalDate = normalDate.join(" ")
									var dateInput = document.createElement('input')
									dateInput.className = "visually-hidden makeAnAppointment__dateInput"
									dateInput.setAttribute("data-appointmentdate", normalDate)
									dateInput.setAttribute("value", normalDate)
									dateInput.setAttribute("type", "radio")
									dateInput.setAttribute("id", "appointmentDates" + index)
									var dateLabel = document.createElement('label')
									if (depIndex == 0) {
										dateLabel.className = "makeAnAppointment__date makeAnAppointment__date--active"
									} else {
										dateLabel.className = "makeAnAppointment__date"
									}
									dateLabel.setAttribute("for", "appointmentDates" + index)
									dateLabel.setAttribute("data-clinicAddress", dep.address)
									dateLabel.innerHTML = normalDate
									datesWrapper.append(dateInput)
									datesWrapper.append(dateLabel)
									// Создаём обёртку для часов.
									var dayWrapper = document.createElement('div')
									if (depIndex == 0) {
										dayWrapper.className = "makeAnAppointment__day makeAnAppointment__day--active"
									} else {
										dayWrapper.className = "makeAnAppointment__day"
									}
									dayWrapper.setAttribute("data-appointmentday", normalDate)
									dayWrapper.setAttribute("data-clinicAddress", dep.address)
									// Выводим часы.
									date.times.map((time) => {
										var randomNumber = Math.random() * Math.random()
										var timeInput = document.createElement('input')
										timeInput.className = "visually-hidden makeAnAppointment__hoursInput"
										timeInput.setAttribute("type", "radio")
										timeInput.setAttribute("id", "appointmentTime" + randomNumber)
										timeInput.setAttribute("name", "appointmentTime")
										if (time.free == 0) {
											timeInput.setAttribute("disabled", "disabled")
										}
										timeInput.setAttribute("value", date.date + "T" + time.start + ":00 " + date.date + "T" + time.end + ":00" + " " + dep.agreement)
										var timeLabel = document.createElement('label')
										if (time.free == 1) {
											timeLabel.className = "makeAnAppointment__time"
										} else {
											timeLabel.className = "makeAnAppointment__time makeAnAppointment__time--unavailable"
										}
										timeLabel.setAttribute("for", "appointmentTime" + randomNumber)
										timeLabel.innerHTML = time.start
										dayWrapper.append(timeInput)
										dayWrapper.append(timeLabel)
									})
									// Вывели часы.
									timesWrapper.append(dayWrapper)
								})
								// Вывели даты.
							}
						})
						setTimeout(() => {
							// Переключатели поликлиник.
							var addressesInputs = document.querySelectorAll('.makeAnAppointment__input')
							for (let i = 0; i < addressesInputs.length; i++) {
								addressesInputs[i].addEventListener('click', (evt) => {
									var activeClinicDays = evt.target.closest('.doctorCardWrapper').querySelectorAll('.makeAnAppointment__day--active')
									for (let j = 0; j < activeClinicDays.length; j++) {
										activeClinicDays[j].classList.remove('makeAnAppointment__day--active')
									}
									var activeClinicDates = evt.target.closest('.doctorCardWrapper').querySelectorAll('.makeAnAppointment__date--active')
									for (let j = 0; j < activeClinicDates.length; j++) {
										activeClinicDates[j].classList.remove('makeAnAppointment__date--active')
									}
									var newActiveClinicDays = evt.target.closest('.doctorCardWrapper').querySelectorAll(`.makeAnAppointment__day[data-clinicAddress="${evt.target.value}"]`)
									for (let k = 0; k < newActiveClinicDays.length; k++) {
										newActiveClinicDays[k].classList.add('makeAnAppointment__day--active')
									}
									var newActiveClinicDates = evt.target.closest('.doctorCardWrapper').querySelectorAll(`.makeAnAppointment__date[data-clinicAddress="${evt.target.value}"]`)
									for (let k = 0; k < newActiveClinicDates.length; k++) {
										newActiveClinicDates[k].classList.add('makeAnAppointment__date--active')
									}
								})
							}
							// Сделали переключатели поликлиник.
							// Вызов модалки.
							var makeAnAppointmentDateInputs = document.querySelectorAll('.makeAnAppointment__dateInput')
							if (makeAnAppointmentDateInputs) {
								makeAnAppointmentDateInputs.forEach((input) => {
									input.addEventListener('change', (evt) => {
										evt.currentTarget.parentNode.parentNode.querySelector('.makeAnAppointment__day--active').classList.remove('makeAnAppointment__day--active')
										evt.currentTarget.parentNode.parentNode.querySelector(`.makeAnAppointment__day[data-appointmentday='${evt.currentTarget.dataset.appointmentdate}']`).classList.add('makeAnAppointment__day--active')
									})
								});
							}
							var makeAnAppointmentHoursInputs = document.querySelectorAll('.makeAnAppointment__hoursInput')
							if (makeAnAppointmentHoursInputs.length) {
								var orderModal1 = document.querySelector('.orderModal--step1');
								var orderModalSuccess = document.querySelector('.orderModal--success');
								makeAnAppointmentHoursInputs.forEach((input) => {
									input.addEventListener('click', (evt) => {
										var temp = evt.currentTarget.parentNode.parentNode.querySelector('.makeAnAppointment__time--selected');
										if (temp) {
											temp.classList.remove('makeAnAppointment__time--selected')
										}
										evt.currentTarget.nextElementSibling.classList.add('makeAnAppointment__time--selected')
										orderModal1.querySelector('#orderModalAddress').value = document.querySelector('.makeAnAppointment__input:checked').getAttribute('value')
										orderModal1.querySelector('#orderModalTime').value = evt.target.parentNode.getAttribute('data-appointmentday') + ", " + document.querySelector('.makeAnAppointment__hoursInput:checked').getAttribute('value').split(" ")[0].split("T")[1]
										
										orderModal1.querySelector('.orderModal__photo img').src = evt.target.closest('.doctorCardWrapper').querySelector('.doctorCard__photo img').src
										orderModal1.querySelector('.orderModal__name').innerHTML = evt.target.closest('.doctorCardWrapper').querySelector('.doctorCard__name').innerHTML
										orderModal1.querySelector('.orderModal__desc').innerHTML = ''
										
										orderModal1.querySelector('#orderModalAddress').value = evt.target.closest('.doctorCardWrapper').querySelector('.makeAnAppointment__input:checked').value
										
										orderModal1.querySelector('#doctorCode').value = "-&" + evt.target.closest('.doctorCardWrapper').querySelector('.doctorCard__name').innerHTML
										orderModal1.querySelector('#appointmentTime').value = evt.target.value

										var tempForm = document.querySelector(".makeAnAppointment");
										orderModal1.classList.add('orderModal--view')
									})
								});
								var orderModalClose = document.querySelectorAll('.orderModal__close')
								if (orderModalClose) {
									orderModalClose.forEach((btn) => {
										btn.addEventListener('click', () => {
											document.querySelector('.orderModal--view').classList.remove('orderModal--view')
										})
									});
								}
								var orderModalPay = document.querySelector('#orderModalPay')
								var orderModalNoPay = document.querySelector('#orderModalNoPay')

								function sendDataAppointment(fileName, form) {
									var XHR = new XMLHttpRequest();
									var FD = new FormData(form);
									document.body.classList.add('waitingForServer')
									XHR.addEventListener("load", function(event) {
										var responseServer = JSON.parse(this.responseText);
										document.body.classList.remove('waitingForServer')
										try {
											if (!responseServer["Services"].length) {
												console.error("Ошибка: ", responseServer)
												alert("Ошибка")
											} else {
												if (responseServer["Services"][0]["Status"] == "Подтверждена") {
													console.log("Записан")
													orderModalSuccess.classList.add('orderModal--view')
													var submit_order_form = new Event("submit_order_form");
												} else if (responseServer["Services"][0]["Status"] == "Время занято") {
													console.log("Время занято")
													alert("Время занято. Пожалуйста, выберите другое время")
												} else {
													console.error("Ошибка!")
													alert("Ошибка")
												}
											}
										} catch (e) {
											alert("Ошибка!")
											console.error("Ошибка: ", e)
										}
									});
									XHR.addEventListener("error", function(event) {
										alert('Ошибка!');
									});
									XHR.open("POST", fileName);
									XHR.send(FD);
								}

								function checkModalPaymentFields(action, form) {
									if (orderModalName.value.split(" ").length < 3 || !orderModalPhone.value || !orderModalBirthday.value) {
										if (orderModalName.value.split(" ").length < 3) {
											orderModalName.classList.add('error')
										} else {
											orderModalName.classList.remove('error')
										}
										if (!orderModalPhone.value) {
											orderModalPhone.classList.add('error')
										} else {
											orderModalPhone.classList.remove('error')
										}
										if (!orderModalBirthday.value) {
											orderModalBirthday.classList.add('error')
										} else {
											orderModalBirthday.classList.remove('error')
										}
									} else {
										orderModal1.classList.remove('orderModal--view')
										sendDataAppointment(action, form)
									}
								}
								orderModalNoPay.addEventListener('click', () => {
									var form = document.querySelector('.makeAnAppointment');
									checkModalPaymentFields(form.getAttribute('data-action'), form)
								})
							}
						}, 300)
					doctorsList.append(temp)
				}
			}
    	} catch (e) {
		    doctorsList.innerHTML = 'Ничего не найдено :('
			console.error("Ошибка: ", e)
		}
	});

	XHR.addEventListener("error", function(event) {
		alert('Ошибка!');
	});
	XHR.open("GET", form.getAttribute('action'));
	XHR.send(FD);
}


document.addEventListener("DOMContentLoaded", () => {
	var orderFilters = document.querySelector('.orderFilters')
	var inputs = document.querySelectorAll('.orderFilters input');
	var doctorListFilterDubounser;
	for (var i = 0; i < inputs.length; i++) {
		inputs[i].addEventListener('input', () => {
			if (doctorListFilterDubounser) {
				clearTimeout(doctorListFilterDubounser)
				doctorListFilterDubounser = setTimeout(() => {
					sendDoctorListForm(orderFilters)
				}, 250)
			} else {
				doctorListFilterDubounser = setTimeout(() => {
					sendDoctorListForm(orderFilters)
				}, 250)
			}
		})
	}
	orderFilters.addEventListener('submit', (evt) => {
		evt.preventDefault()
		sendDoctorListForm(orderFilters)
	})
})
</script>

<style>
    .orderModal select, .orderModal input[type="date"]{
        -webkit-appearance: none;
        appearance: none;
    }
    input[name="orderModalGender"]{
        display: inline-block;
    }

.makeAnAppointment__day, .makeAnAppointment__date{
	display: none;
}
.makeAnAppointment__day--active, .makeAnAppointment__date--active{
	display: block;
}
@media (max-width: 720px){
	.makeAnAppointment__times{
		display: flex;
		overflow-x: auto;
		margin: 5px -15px;
		padding: 0 15px;
	}
	.makeAnAppointment__day--active{
		width: 30%;
		flex-shrink: 0;
		margin: 0;
	}
	.makeAnAppointment__time{
		margin: 0 auto;
	}
}

</style>

            <div class="doctorrTable">
                {% for doctor in doctors %}
                <section class="doctorPreview">
                    <div class="doctorPreview__photo">
                        {% if doctor.avatar %}
                            <a href="{% url 'doctor_detail_url' pk=doctor.pk %}"><img src="{{ doctor.avatar.url }}" alt="" width="270" height="270"></a>
                        {% else %}
                            <a href="{% url 'doctor_detail_url' pk=doctor.pk %}"><img src="{% static 'images/doctor_without_photo.png' %}" alt="" width="270" height="270"></a>
                        {% endif %}
                    </div>
                    <h3 class="doctorPreview__name">
                        <a href="{% url 'doctor_detail_url' pk=doctor.pk %}">{{ doctor.full_name }}</a>
                        {% if doctor.promotions.first %}
                        <div class="doctorPreview__label">
                            <span class="visually-hidden">В данный момент у врача действует акция</span>
                            <i aria-hidden="true" title="В данный момент у врача действует акция">%</i>
                        </div>
                        {% endif %}
                    </h3>
                    <div class="doctorPreview__desc">
                        {% if doctor.specialization %}
                        {% for spec in doctor.specialization.all %}
                        {{ spec.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if doctor.academic_degree %}{{ doctor.academic_degree }}.{% endif %}
                        {% if doctor.experience %}{{ doctor.experience }}.{% endif %}
                    </div>
                </section>
                {% endfor %}

                {% if is_paginated %}
                    <div class="paginator">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                    {% endif %}

                    {% for n in page_obj.paginator.page_range %}
                        {% if n == page_obj.number %}
                            <a class="paginator__current" href="?page={{ n }}">{{ n }}</a>
                        {% elif n > page_obj.number|add:'-5' and n < page_obj.number|add:'5' %}
                            <a href="?page={{ n }}">{{ n }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    {% endif %}
                    </div>
                {% endif %}


            </div>
        </article>
    </main>

    {% endblock %}
