{% extends 'index.html' %}

{% block title %}
    {{ promotion.title }}
{% endblock %}

{% block content %}
    <main>
      <article class="material">
        <div class="container">
          <div class="material__body">
            <h1 class="h1">{{ promotion.title }}</h1>
            <div class="material__intro">
                {% autoescape off %}<p>{{ promotion.preview }}</p>{% endautoescape %}
            </div>

            {% autoescape off %}<p>{{ promotion.content }}</p>{% endautoescape %}
          </div>
          {% if promotion.doctor %}
              {% with doctors=promotion.doctor.all %}
                {% for doctor in doctors %}
                <!-- Переделать на карту докороа -->
                  <h4>{{ doctor.full_name }}</h4>
                {% endfor %}
              {% endwith %}
          {% endif %}

          <section class="orderModal orderModal--step1">
            <header class="orderModal__header">
              <h3 class="orderModal__title">Запись к врачу и оплата</h3>
              <button class="orderModal__close" type="button" aria-label="Закрыть">
                    <svg width="15" height="15" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                    </svg>
              </button>
            </header>
            <div class="orderModal__body">
              <div class="orderModal__wrapper">
                <div class="orderModal__photo"><img src="" alt="" width="80" height="80"></div>
                <div class="orderModal__wrap">
                  <div class="orderModal__name"></div>
                  <div class="orderModal__desc"></div>
                </div>
              </div>
              <div class="orderModal__body">
                <div class="orderModal__input orderModal__input--withBorder">
                  <label class="orderModal__label" for="orderModalAddress">Поликлиника</label>
                  <input type="text" readOnly disabled tabindex="-1" name="orderModalAddress" id="orderModalAddress">
                </div>
                <div class="orderModal__input orderModal__input--withBorder">
                  <label class="orderModal__label" for="orderModalTime">Дата и время приёма</label>
                  <input type="text" readOnly disabled tabindex="-1" name="orderModalTime" id="orderModalTime">
                </div>
                <div class="orderModal__input">
                  <label class="orderModal__label" for="orderModalName">Имя пациента</label>
                  <input type="text" name="orderModalName" id="orderModalName" placeholder="Магомедов Магомед" required>
                </div>
                <div class="orderModal__input">
                  <label class="orderModal__label" for="orderModalPhone">Телефон</label>
                  <input type="text" name="orderModalPhone" id="orderModalPhone" placeholder="+7 000 111-22-33" required>
                </div>
                <button class="orderModal__btn orderModal__btn--prefer" type="submit" id="orderModalPay">Записаться и оплатить</button>
                <button class="orderModal__btn" type="button" id="orderModalNoPay">Оплачу в поликлинике</button>
                <p class="orderModal__note">Я согласен с условиями обработки&nbsp;<a href="#" target="_blank">персональных данных</a></p>
              </div>
            </div>
          </section>
          <section class="orderModal orderModal--success">
            <header class="orderModal__header">
              <h3 class="orderModal__title">Запись к врачу и оплата</h3>
              <button class="orderModal__close" type="button" aria-label="Закрыть">
                    <svg width="15" height="15" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                    </svg>
              </button>
            </header>
            <div class="orderModal__body">
              <div class="orderModal__wrapper">
                    <svg width="100" height="76" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#correct-signal"></use>
                    </svg>
                <h2 class="orderModal__successHeading">Спасибо за запись!</h2>
                <p class="orderModal__successText">Скоро мы свяжемся по телефону для уточнения записи</p>
              </div>
            </div>
          </section>
          <section class="share">
            <h3 class="share__heading">Поделиться</h3>
            <div class="share__list">
              <!-- Вместо гугла надо вставить ссылку на текущую страницу.--><a class="share__item share__item--fb" href="https://www.facebook.com/sharer.php?src=sp&amp;u=https://google.com" target="_blank" aria-label="Поделиться в фейсбук">
                    <svg width="50" height="50" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                    </svg><span>Поделиться</span></a><a class="share__item share__item--vk" href="https://vk.com/share.php?url=https://google.com" target="_blank" aria-label="Поделиться в вконтакте">
                    <svg width="50" height="50" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
                    </svg><span>Поделиться</span></a><a class="share__item share__item--ok" href="https://connect.ok.ru/offer?url=https://google.com" target="_blank" aria-label="Поделиться в одноклассниках">
                    <svg width="50" height="50" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ok"></use>
                    </svg><span>Класс</span></a><a class="share__item share__item--tg" href="tg://msg_url?url=https://www.google.com/" target="_blank" aria-label="Отправить в телеграм">
                    <svg width="50" height="50" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tg"></use>
                    </svg><span>Отправить</span></a>
            </div>
          </section>
        </div>
      </article>
          <section class="nextPage">
            <div class="container">
              <p>Далее</p>
              <a href="{{ next_page.get_absolute_url }}">
                <span>{{ next_page.title }}</span>
                <svg width="40" height="30" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrowRight"></use>
                </svg>
              </a>
            </div>
          </section>
    </main>
{% endblock %}
