{% if reviews %}
    <section class="reviews">
        <div class="container">
            <h2 class="mdTitle">Отзывы пациентов</h2>
            <div class="mdIntro">Оставь свой отзый о враче.</div>
            <a class="addBtn reviews__btn" href="#">Оставить отзыв</a>

            <ul class="reviews__body">
                {% for review in reviews %}
                <li class="reviews__item">
                    <p>
                        {{ review.review }}
                    </p>
                    <div class="reviews__author">{{ review.author }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% else %}
    <section class="reviews">
        <div class="container">
            <h2 class="mdTitle">Отзывы пациентов</h2>
            <div class="mdIntro">Пока у врача нет отзывов, но вы можете оставить свой отзыв.</div><a class="addBtn reviews__btn" href="#">Оставить отзыв</a>
        </div>
    </section>
{% endif %}
