{% extends 'index.html' %}

{% load static %}

{% block title %}{{ organ.name }}{% endblock %}

{% block content %}
<main>
  <article class="clinic">
    <div class="container">
      <h1 class="h1">{{ organ.name }}</h1>
      <section class="placeInfo">
        <div class="placeInfo__item placeInfo__item--phones">
          {% if reg_phone %}
            <span>Регистратура</span>
            {% for phone in reg_phone %}
              <p>{{ phone }}</p>
            {% endfor %}
          {% endif %}
          <span>Колл-центр</span>
          <p>{{ organ.phone_callcenter }}</p>
        </div>
        <div class="placeInfo__item placeInfo__item--address"><span>Адрес</span>
          <p>{{ organ.address }}<br>{{ organ.city }}</p>
        </div>
        <div class="placeInfo__item placeInfo__item--time"><span>Режим работы</span>
          <p>{% autoescape off %}{{ organ.operating_mode }}{% endautoescape %}</p>
        </div>
        <div class="placeInfo__item placeInfo__item--links"><span>Сайт</span>
          <p><a href="{{ organ.site }}">{{ organ.site }}</a></p><span>Инстаграм</span>
          <p><a href="{{ organ.instagram }}">{{ organ.instagram_tag }}</a></p>
        </div>
      </section>
    </div>
    <section class="placeLooksLike">
      {% if organ.image %}
        <div class="placeLooksLike__item placeLooksLike__item--photo placeLooksLike__item--active">
          <picture>
              <source media="(min-width: 1024px)" srcset="{{ organ.image.url }}">
              <source media="(min-width: 580px)" srcset="{{ organ.image.url }}">
              <img src="{{ organ.image.url }}" alt="">
          </picture>
        </div>
      {% endif %}
      <div class="placeLooksLike__item placeLooksLike__item--pano" data-src="{{ organ.panorama }}">
        <iframe src="" width="100%" height="650" allowfullscreen="true"></iframe>
      </div>
      <div class="placeLooksLike__item placeLooksLike__item--map" data-src="{{ organ.map }}">
        <iframe src="" width="100%" height="650" allowfullscreen="true"></iframe>
      </div>
      <div class="placeLooksLike__controls">
        <button class="placeLooksLike__control placeLooksLike__control--photo placeLooksLike__control--active" type="button">
              <svg width="20" height="15" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#image"></use>
              </svg>Фото
        </button>
        <button class="placeLooksLike__control placeLooksLike__control--pano" type="button">
              <svg width="11" height="18" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#panorama"></use>
              </svg>Панорама
        </button>
        <button class="placeLooksLike__control placeLooksLike__control--map" type="button">
              <svg width="14" height="18" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#placeholder"></use>
              </svg>Карта
        </button>
      </div>
    </section>

    <div class="container">
        <section class="clinic__doctors">
			<h2 class="mdTitle">Врачи поликлиники</h2>
			<div class="mdIntro">Все врачи работающие в поликлинике по адресу {{ organ.address }}</div>
			<form class="orderFilters orderFilters--large" action="/organization/api/v0/doctors/" method='get'>
                <button type="submit" name="button">SEND</button>
				<div class="orderFilters__item orderFilters__item--name">
					<div class="orderFilters__wrap">
						<button class="orderFilters__showFields" type="button" tabindex="-1">
									<svg width="22" height="22" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#filter"></use>
									</svg>
						</button>
						<input class="orderFilters__input orderFilters__input--name" type="text" name="orderFiltersName" placeholder="Фамилия Имя Отчество" id="orderFiltersName">
						<div class="smallHidden orderFilters__dropDown">
							<input class="visually-hidden orderFilters__input orderFilters__input--checkbox" type="checkbox" name="orderFiltersChild" id="orderFiltersChild0">
							<label class="orderFilters__checkbox orderFilters__checkbox--desktop" for="orderFiltersChild0">Только детские врачи</label>
						</div>
					</div>
				</div>
				<div class="orderFilters__item orderFilters__item--specialization">
					<div class="orderFilters__wrap">
						<button class="orderFilters__checker" type="button" tabindex="-1">
									<svg width="16" height="10" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#down"></use>
									</svg>
						</button>
						<input class="orderFilters__input orderFilters__input--popup" type="text" name="orderFiltersSpecialization" placeholder="Специализация" id="orderFiltersSpecialization">
						<button class="orderFilters__close" type="button" tabindex="-1">
									<svg width="15" height="15" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
									</svg>
						</button>
						<div class="orderFilters__dropDown">
                            {% for spec in specializations %}
                                <label>
                                    <input class="visually-hidden" type="radio" name="orderFiltersSpecialization" value="{{ spec.name }}"><span>{{ spec.name|title }}</span>
                                </label>
                            {% endfor %}
						</div>
					</div>
				</div>
				<div class="mediumHidden orderFilters__item">
					<div class="orderFilters__wrap">
						<input class="visually-hidden orderFilters__input orderFilters__input--checkbox" type="checkbox" name="orderFiltersChild" id="orderFiltersChild1">
						<label class="orderFilters__checkbox" for="orderFiltersChild1">Только детские врачи</label>
					</div>
				</div>
			</form>
			<div class="clinic__doctorsWrap">
                {% for doctor in doctors %}
                    <section class="doctorPreview">
                        <div class="doctorPreview__photo">
                            {% if doctor.avatar %}
                                <a href="{% url 'doctor_detail_url' pk=doctor.pk %}"><img src="{{ doctor.avatar.url }}" alt="" width="270" height="270"></a>
                            {% else %}
                                <a href="{% url 'doctor_detail_url' pk=doctor.pk %}"><img src="{% static 'images/doctor_without_photo.png' %}" alt="" width="270" height="270"></a>
                            {% endif %}
                        </div>
                        <h3 class="doctorPreview__name"><a href="#">{{ doctor.full_name }}</a>
                        </h3>
                        <div class="doctorPreview__desc">
                            {% if doctor.specialization %}
                                {% for spec in doctor.specialization.all %}
                                    {{ spec.name }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if doctor.academic_degree %}{{ doctor.academic_degree }}.{% endif %}
                            {% if doctor.experience %}Опыт работы — {{ doctor.experience }}.{% endif %}
                        </div>
                    </section>
                {% endfor %}
            </div>

        </section>
    </div>

  </article>
        <section class="nextPage">
          <div class="container">
            <p>Далее</p><a href="{% url 'organ_detail_url' pk=next_page.id %}"><span>{{ next_page.name }}</span>
                  <svg width="40" height="30" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrowRight"></use>
                  </svg></a>
          </div>
        </section>
</main>
{% endblock %}
