{% extends 'index.html' %}

{% load static %}

{% block title %}{{ organ.name }}{% endblock %}

{% block content %}
<main>
  <article class="clinic">
    {% include "organization/includes/info.html" %}
    {% include "organization/includes/maps.html" %}

    <div class="container">
        {% include "organization/includes/doctors.html" %}
        {% include "organization/includes/services.html" %}
    </div>

  </article>
        <section class="nextPage">
          <div class="container">
            <p>Далее</p><a href="{% url 'organ_detail_url' pk=next_page.id %}"><span>{{ next_page.name }}</span>
                  <svg width="40" height="30" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrowRight"></use>
                  </svg></a>
          </div>
        </section>
</main>
{% endblock %}
