{% load static %}

<footer class="footer">
    <div class="container container--footer">
<!--                 <section class="toBlind"><a href="#">Версия для слабовидящих</a></section>
-->				<section class="footer__contacts">
            <p><b>8(928)517-15-15</b>Колл-центр всегда на связи с 8:00 до 20:00</p>
        </section>
        <section class="social">
            <h2 class="social__title">Мы в соц.сетях</h2>
            <div class="social__body">
                <a target="_blank" href="https://www.instagram.com/celitel05/" aria-label="Инстаграм"><img src="{% static 'images/ig.svg' %}" width="40" height="40" alt=""></a>
                <a target="_blank" href="https://www.facebook.com/celitel05/" aria-label="Фейбук"><img src="{% static 'images/fb.svg' %}" width="40" height="40" alt=""></a>
                <a target="_blank" href="https://ok.ru/profile/578706473130" aria-label="Одноклассники"><img src="{% static 'images/ok.svg' %}" width="40" height="40" alt=""></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCRFyQVTZ3S-oh1vogf7KKdA" aria-label="Ютуб"><img src="{% static 'images/yt.svg' %}" width="40" height="40" alt=""></a></div>
        </section>
        <div class="copyright copyright--site"><a href="#">© 2019, Сеть поликлиник «Целитель»</a></div>
        <div class="copyright copyright--developer"><a href="#">Задизайнено в Студии Вектор</a></div>
    </div>
</footer>
