<section class="clinicsMD">
    <div class="container">
        <div class="mdWrap mdWrap--frontClinics">
            <h2 class="mdTitle">Поликлиники</h2>
            <ul class="mdWrap__links">
                {% for city in organizations %}
                    {% if forloop.first %}
                        <li class="mdWrap__link mdWrap__link--active"><a href="#" data-city="{{ city }}">{{ city }}</a></li>
                    {% else %}
                        <li class="mdWrap__link"><a href="#" data-city="{{ city }}">{{ city }}</a></li>
                    {% endif %}

                {% endfor %}
			</ul>
        </div>

        {% for city, organizations in organizations.items %}
            <div class="clinicsMD__body {% if forloop.first %}clinicsMD__body--active{% endif %}
            " data-city="{{ city }}">
                {% for organ in organizations %}
                    <a class="clinicsMD__item" href="{% url 'organ_detail_url' pk=organ.0 %}">
                        <div class="clinicsMD__img"><img src="media/{{ organ.4 }}" alt=""></div>
                        <h3 class="clinicsMD__title">{{ organ.1 }}</h3>
                        <div class="clinicsMD__contacts">
                            <div class="clinicsMD__contact">
                                        <svg width="16" height="16" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#placeholder"></use>
                                        </svg>
                                <p>{{ organ.2 }}</p>
                            </div>
                        {% if organ.3 %}
                            <div class="clinicsMD__contact clinicsMD__contact--reverse">
                                        <svg width="16" height="16" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use>
                                        </svg>
                                <p>{% autoescape off %}{{ organ.3 }}{% endautoescape %}</p>
                            </div>
                        {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</section>
