{% if videos %}
    <section class="video">
        <div class="container">
            <h2 class="mdTitle mdTitle--white">Видео</h2>
            <div class="mdIntro">Смотрите полезное видео. Рассазывают наши врачи.</div>
            <div class="video__body">
                {% for video in videos %}
                    <div class="video__item">
                        {% autoescape off %}
                            {{ video.video }}
                        {% endautoescape %}
                    </div>
                {% endfor %}
        </div>
    </section>
{% endif %}
